name: Deploy to Deno Deploy

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write   # ⭐ 必须

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: lianghua
          entrypoint: main.ts
          root: .
